.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.filebox .fileboxtitle {
    display: inline-block;
    white-space:nowrap;
    font-size: 18px;
    width: 350px;
    overflow: hidden;
    text-align: center;
}
  
.filebox label {
    display: inline-block;
    font-size: 15px; 
    padding: 5px 15px;
    color: #000000;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.filebox label:hover {
    background-color: silver;
    border: 1px solid silver;
}
  
  /* named upload */
.filebox .upload-name {
    display: inline-block;
    height: 30px;
    font-size:14px; 
    padding: 0 10px;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-radius: 5px;
}

.titlebox label {
    display: inline-block;
    white-space:nowrap;
    font-size: 18px;
    width: 350px;
    overflow: hidden;
}

.titlebox .title {
    display: inline-block;
    height: 30px;
    font-size: 15px; 
    padding: 0 10px;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-radius: 5px;
}

.artistbox label {
    display: inline-block;
    white-space:nowrap;
    font-size: 18px;
    width: 350px;
    overflow: hidden;
}

.artistbox .artist {
    display: inline-block;
    height: 30px;
    font-size: 15px; 
    padding: 0 10px;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-radius: 5px;
}

/* .button .submit {
    display: inline-block;
    font-size: 16px; 
    padding: 5px 15px;
    color: #FFFFFF;
    vertical-align: middle;
    background-color: transparent;
    cursor: pointer;
    border-top: none;
    border-left: none;
    border-right:none;
    transition-duration: 0.5s;
    border-bottom: 1px solid #ebebeb;
} */

.button .submit {
    display: inline-block;
    font-size: 15px;
    background-color: transparent;
    padding: 5px 15px;
    border-top: none;
    border-left: none;
    border-right:none;
    border-bottom: 1px solid #ebebeb;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    transition: all 0.5s;
    cursor: pointer;
    outline: none !important;
}
  
.button .submit span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button .submit:hover {
    background-color: #4CAF50;
    color: #000000;
    border-radius: 3px;
    border-bottom: 1px solid #4CAF50;
}

.button .submit span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button .submit:hover span {
    padding-right: 25px;
}
  
.button .submit:hover span:after {
    opacity: 1;
    right: 0;
}

.status label {
    font-size: 17px;
}

.status .status {
    display: inline-block;
    height: 30px;
    color: #000000;
    font-size:14px; 
    padding: 0 10px;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-radius: 5px;
}